

.navbar-brand {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 50px !important;
}

.navbar-nav {
	margin-left: 40%;
}

@media (max-width: 1275px) and (min-width: 1150px){
	.navbar-nav {
		margin-left: 30%;
	}
}

@media (max-width: 1149px) and (min-width: 1050px){
	.navbar-nav {
		margin-left: 20%;
	}
}

@media (max-width: 1049px) and (min-width: 992px){
	.navbar-nav {
		margin-left: 10%;
	}
}
 
.nav-link {
	padding-left: 15px !important;
	padding-right: 15px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	color: white !important;
}

.active {
	background: red;
	border-radius: 5px;
}

.nav-link:hover {
	background: red;
	border-radius: 5px;
	transition-duration: 0.2s;
}

#welcome {
	background-color: #e0e0e0;
}

#welcometo {
	font-size: 20px;
	margin-top: 10%;
}

#pnb {
	color: green;
	font-size: 30px;
}

#mission {
	background-color: lightcyan;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 5px;
}

#mission-head {
	font-size: 25px;
}

#vision {
	background-color: lightgoldenrodyellow;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 5px;
}

#vision-head {
	font-size: 25px;
}

.panel-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
    border-top: 0;
    color: white;
    font-size: 15px;
}

#table-head {
	height: 50px; 
	padding-left: 15px; 
	padding-bottom: 13px;
}

#table-content {
	color: black; 
	padding-top: 10px; 
	padding-left: 15px;
<<<<<<< HEAD
}

#selected-button {
	background-color: red; 
	color: white; 
	border-radius: 5px;
	margin-bottom: 30px;
}

#selected-button:hover {
	color: lightgrey;	
=======
>>>>>>> d29840f7ffdc3fbaf7afd1772364678a26d98c85
}